/* section 1 (flex 1) */
#flex_first {
    display: flex;
    margin: auto;
    justify-content: center;
    align-content: center;
    margin-top: 1rem;
}

ul.center_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/* section 2 (flex 2) */
#flex_second_wrapper {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    flex-direction: column;
}

.form-row > fieldset {
    display: flex;
    flex-direction: column;
}

/* section 3 (grid 1) */
#grid_first {
    display:grid;
    grid-column-gap:1rem;
    grid-row-gap:1rem;
}
@media only screen and (max-width:600px){
#grid_first {
    grid-template-columns:auto;
    }
}
@media only screen and (min-width:600px){
    #grid_first {
        grid-template-columns:1fr 1fr;
    }
}
@media only screen and (min-width:1200px){
    #grid_first {
        grid-template-columns:1fr 1fr 1fr;
    }
}


/* section 4 (grid 2) */
#grid_second {
    display: grid;
    align-content: space-around;
    gap: 1em;
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: 100%;
}

.box9 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (min-width: 600px) {
    #grid_second {
        grid-template-columns: 1fr 1fr;
    }

    .box1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .box9 {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 1200px) {
    #grid_second {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .box1 {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .box9 {
        flex-wrap: nowrap;
    }
}